@media screen and (max-width: 600px) {
  /* header starts */

  /* navbar starts */

  nav{
    margin-left: 50px;
    position: relative;
  }
  .nav-bar {
    display: none;
    
  }

#hide{
    display: inline-block;
    position: absolute;
    margin-left: 420px;
    margin-top: -23px;

}
  .website-name {
    
    width: 100%;
   
  }

  .website-name-h3 {
    font-size: 2rem;
  }

  .website-logo {
    width: 10%;
  }

  /* banner starts */


  /* main starts */

  /* popular tours starts*/

.popular-tours-container{
    display: flex;
    flex-direction: column;
   margin-top: 0px;

    
 }
 .popular-tours-text{
     width: 100%;
     padding: 50px;

 }
 
 .popular-tours-img{
     width: 100%;
     width: 335px;
     height: 340px;
     margin: 0 auto;
 }


}
