/* common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.btn-primary {
  background-color: #ff5400;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: white;
  border: 2px solid #ff5400;
  color: #ff5400;
  transition: 0.5s;
}

#primary-color {
  color: #ff5400;
}

#hide {
  display: none;
}

/* header starts */

/* nav starts */
nav {
  max-width: 1170px;
  margin: 0 auto;
}

.nav-container {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.website-name {
  display: flex;
  justify-content: start;
  gap: 10px;
  width: 50%;
}

.website-name-h3 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-bar {
  display: flex;
  justify-content: center;
  width: 50%;
}

.nav-bar-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-ul li a {
  text-decoration: none;
}

.nav-bar-items {
  color: var(--Dark-02, #424247);
  font-size: 1.125rem;
  font-weight: 600;
  margin-left: 44px;
}

/* banner starts */
.banner {
  max-width: 1170px;
  margin: 0 auto;
}

.banner-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.banner-h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}

.banner-p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 60%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.banner-items {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px 16px 16px 0px;
}

#banner-item-text,
#banner-item-type,
#banner-item-when {
  border: none;
  background: #fff;
  padding: 1rem;
  appearance: none;
  width: 174px;
  height: 52px;
  margin-left: 24px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

#banner-item-text::placeholder {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

#when-icon {
  position: absolute;
  margin-left: -31px;
  margin-top: 20px;
}

#types-icon {
  position: absolute;
  margin-left: -31px;
  margin-top: 20px;
}

#banner-btn {
  border: none;
  padding: 16px;
  width: 174px;
  height: 52px;
  margin-left: 24px;
  border-radius: 8px;

  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

#btn-icon {
  margin-right: 10px;
}

/* main section starts */
main {
  max-width: 1170px;
  margin: 0 auto;
  border: 2px solid rgb(209, 209, 209);
}

/* popular tours starts*/

.popular-tours-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.popular-tours-text {
  width: 40%;
}

.popular-tours-img {
  width: 50%;
}

.popular-tours-text-h3 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.popular-tours-text-p1,
.popular-tours-text-ul li,
.popular-tours-text-p2 {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.popular-tours-text-ul {
  margin-left: 15px;
}

.popular-tours-text-btn {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 15px 35px;
  border-radius: 8px;
}

/* destination starts */

.destination {
  margin: 0 auto;
  margin-top: 100px;
}

.destination-h3 {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: normal;
}
.destination-p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  width: 55%;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 48px;
}

.item1 {
  background: url("../Images/Rectangle\ 5.png");
  background-repeat: no-repeat;

  width: 573px;
  height: 300px;
}
.item2 {
  background: url("../Images/Rectangle\ 8.png");
  background-repeat: no-repeat;

  width: 573px;
  height: 300px;
}
.item3 {
  background: url("../Images/Rectangle\ 6.png");
  background-repeat: no-repeat;
  width: 374px;
  height: 286px;
}
.item4 {
  background: url("../Images/Rectangle\ 7.png");
  background-repeat: no-repeat;
  width: 474px;
  height: 286px;
}
.item5 {
  background: url("../Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  width: 274px;
  height: 286px;
}
.item6 {
  background: url("../Images/Rectangle\ 11.png");
  background-repeat: no-repeat;
  width: 473px;
  height: 300px;
}
.item7 {
  background: url("../Images/Rectangle\ 10.png");
  background-repeat: no-repeat;
  width: 673px;
  height: 300px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
  border-radius: 16px;
}

.item-text {
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

/* choose us starts */

.choose-us-head {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 24px;
}

.choose-us-discription {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;

  width: 70%;
  margin: 0 auto;
  margin-bottom: 48px;
}

.us-box-h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 16px 0px;
}

.us-box-p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.choose-us-box-1,
.choose-us-box-2,
.choose-us-box-3 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 22px;
}

.choose-us-box-1-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-us-box-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.choose-us-box-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose-us-box-3 {
  margin: 0 auto;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* deals starts */

.our-deals {
  background: url(../Images/Group\ 39.png);
  background-repeat: no-repeat;
  block-size: cover;
  height: 500px;
  margin-bottom: 24px;
}
.deals-h3 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 24px;
}
.deals-p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
}

.our-deal-pack {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 579px;
  height: 389px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-left: 520px;
  margin-top: 55px;
  position: absolute;
}
.our-deal-pack-ul {
  list-style: none;
  display: flex;
}
.our-deal-pack-ul li {
  margin-left: 30px;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 30px;
}

.our-deal-pack-h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 20px 30px;
}
.our-deal-pack-p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 0px 30px;
}
.our-deal-pack-price {
  color: #ff5400;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 20px 30px;
}
.deal-btn {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 14px 24px;
  margin-left: 30px;
  border-radius: 8px;
}

.reverse-row{
 background: url(../Images/reverse.png);
}

#deals-reverse{
    border-radius: 16px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 389px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 55px;
    position: absolute;
  }

/* we provide starts */

.we-provide-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 60px;
}

.we-provide-container {
  display: flex;
  justify-content: space-between;
}
.service {
  width: 250px;
  height: 250px;
  border: 2px solid #ff5400;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 30px 0px rgba(255, 133, 62, 0.695);
}

.service-img {
  color: #ff5400;
}

.service-text {
  padding: 30px 20px 10px 20px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 30px;
}

/* newsletter starts */

.newsletter {
  margin: 0 auto;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px;
}

.news-text {
  width: 37%;
  height: 425px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}

.news-img {
  width: 672px;
  height: 425px;
  position: relative;
}

.news-text-h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}

.news-text-p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.news-hr {
  margin-bottom: 24px;
  color: rgba(19, 19, 24, 0.1);
}

.your-name,
.your-email {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 16px 0px 16px 20px;
  border: none;
  width: 100%;
  margin-bottom: 16px;
}

.news-btn {
  border-radius: 8px;
  width: 100%;
  padding: 14px 130px;
  margin-top: 8px;
}

.news-btn {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
}

.save-upto {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  margin-top: 0px;
  margin-top: -268px;
  margin-left: 835px;
}

.save-upto-p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.save-upto-h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}

/* footer starts */

footer {
  text-align: center;
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
}
#footer-name {
  justify-content: center;
  width: 100%;
  padding-top: 110px;
}

.footer-discription {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  width: 60%;
  margin: 0 auto;
  padding-top: 15px;
}

.footer-icon {
  margin: 33px 0px 50px 0px;
}

.footer-icon i {
  padding: 0px 25px;
  font-size: 2rem;
}

.footer-hr {
  color: rgba(48, 48, 118, 0.1);
  width: 60%;
  height: 1px;
  margin: 0 auto;
}

.copy-right {
  color: #131318;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 50px;
}
